bazel-*
__pycache__
**.egg-info
dist
**node_modules
**.DS_Store
**.vscode
../.idea/
**/.idea/
.env
.terraform**
terrafo
rm.**
**/*pb*
*.pb.go
**pb**
venv/
terraform.tfstate
.venv
**/site/
**/.featureform
