astor
azure-core
azure-storage-blob
boto3
botocore
google-api-core
google-auth
google-cloud-core
google-cloud-storage
pyspark
pydantic<=2.10.6
pyiceberg[glue]>=0.9.0
pytest
pytest-cov
pytest-mock
pytest-xdist
python-dotenv
s3transfer
urllib3
psutil
snowflake-connector-python