scrape_configs:
  - job_name: 'prometheus'
  scrape_interval: 5s
  static_configs:
  - targets: ['localhost:9090']
  - job_name: myapp
    scrape_interval: 10s
    metrics_path: /metrics
    static_configs:
      - targets:
          [
            "host.docker.internal:2112",
            "localhost:2112",
            "docker.for.mac.host.internal:2112",
          ]
  - job_name: 'kubernetes-service-endpoints'
  kubernetes_sd_configs:
  - role: endpoints
  relabel_configs:
  - action: labelmap
    regex: __meta_kubernetes_service_label_(.+)
  - source_labels: [__meta_kubernetes_namespace]
    action: replace
    target_label: kubernetes_namespace
  - source_labels: [__meta_kubernetes_service_name]
    action: replace
    target_label: kubernetes_name
