boto3
dill==0.3.7
pyspark==3.3.2
pytest==7.1.2
pytest-cov==3.0.0
python-dotenv==0.20.0
azure-storage-blob==12.13.1
google-cloud-storage==2.7.0
google-oauth==1.0.1
grpcio==1.62.2
pandas>=1.3.5
typeguard
deepdiff
