#  This Source Code Form is subject to the terms of the Mozilla Public
#  License, v. 2.0. If a copy of the MPL was not distributed with this
#  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
#  Copyright 2024 FeatureForm Inc.
#

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    chart: featureform
    run: featureform-feature-server
    app: featureform-feature-server
  name: featureform-feature-server
spec:
  replicas: 1
  selector:
    matchLabels:
      run: featureform-feature-server
      app: featureform-feature-server
  strategy: {}
  template:
    metadata:
      labels:
        chart: featureform
        run: featureform-feature-server
        app: featureform-feature-server
      annotations:
        ff_placeholder: ""  # meaningless annotation to avoid nested conditional statements
        {{- if .Values.datadog.enabled }}
        ad.datadoghq.com/featureform-feature-server.checks: |
          {
            "openmetrics": {
              "instances": [
                {
                  "openmetrics_endpoint": "http://%%host%%:9090/metrics",
                  "namespace": {{ .Values.datadog.namespace | quote }},
                  "metrics": [".*"]
                }
              ]
            }
          }
        {{- end }}
        {{- if .Values.restartOnUpdate }}
        timestamp: {{ now | quote }}
        {{- end }}
    spec:
      serviceAccountName: {{ .Values.serving.serviceAccount }}
      imagePullSecrets:
        - name: {{ .Values.k8sImagePullSecret }}
      containers:
        - image: "{{ .Values.repository }}/{{ .Values.serving.image.name }}:{{ .Values.versionOverride | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.pullPolicy }}
          name: featureform-feature-server
          ports:
            - containerPort: {{ .Values.serving.port }}
            - containerPort: {{ .Values.prometheus.port }}
          env:
            - name: SERVING_PORT
              value: {{ .Values.serving.port | quote }}
            - name: METRICS_PORT
              value: "0.0.0.0:{{ .Values.prometheus.port }}"
            - name: METADATA_HOST
              value: {{ .Values.metadata.host }}
            - name: METADATA_PORT
              value: {{ .Values.metadata.port | quote }}
