apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  labels:
    helm.sh/chart: ingress-nginx-2.0.3
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/version: 0.32.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: admission-webhook
  name: ingress-nginx-admission
  namespace: default
webhooks:
- name: validate.nginx.ingress.kubernetes.io
  admissionReviewVersions: [ "v1" ]
  sideEffects: None
  rules:
  - apiGroups:
    - extensions
    - networking.k8s.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ingresses

  failurePolicy: Fail
  clientConfig:
    service:
      namespace: default
      name: ingress-nginx-controller-admission
      path: /extensions/v1beta1/ingresses


  timeoutSeconds: 5