/* 
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright 2024 FeatureForm Inc.
*/

:root {
    --md-primary-fg-color:        #F7195C;
    --md-primary-fg-color--light: #F7195C;
    --md-primary-fg-color--dark:  #F7195C;
    --md-accent-fg-color:        #F7195C;
}