name: Testing
on: [push, pull_request]

env:
  TYPESENSE_PORT: 8108
  TYPESENSE_API_KEY: "xyz"
  REDIS_PORT: 6379
  POSTGRES_USER: "username"
  POSTGRES_DB: "default"
  POSTGRES_PASSWORD: "password"


jobs:
  setup:
    name: Setup Test Dependencies
    defaults:
      run:
        working-directory: ./ff/serving
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install grpc_tools
        run: pip install grpcio-tools

      - name: Install Protobuf
        run: sudo snap install protobuf --classic

      - name: Setup Proto
        run: ./gen_grpc.sh

      - name: Build
        run: go build

      - uses: actions/upload-artifact@v3
        with:
          name: compiled-workdir
          path: ./ff/serving/
          retention-days: 1

  typesense:
    name: Typesense Testing
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Download Working Compiled Directories
        uses: actions/download-artifact@v3
        with:
          name: compiled-workdir

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      # Installing Typesense manually b/c the base container uses input arguments that
      # Github Actions currently doesn't support (e.g. --data-dir, --api-key, --enable-cores).
      # Can create a custom Typesense container in the future if desired
      - name: Install Typesense Container
        run: docker pull typesense/typesense:0.22.2

      - name: Start Typesense
        run: |
          mkdir /tmp/typesense-data
          docker run -d -p $TYPESENSE_PORT:8108 -v/tmp/typesense-data:/data typesense/typesense:0.22.2 \
          --data-dir /data --api-key=$TYPESENSE_API_KEY --enable-cors

      - name: Make Coverage Directory
        working-directory: ./
        run: mkdir coverage

      - name: Testing
        working-directory: ./
        run: go test -v -coverpkg=./... -coverprofile coverage/cover.out ./metadata/search/...

      - name: Convert Coverage Test Results
        if: always()
        working-directory: ./coverage
        run: go tool cover -html=cover.out -o cover.html

      - uses: codecov/codecov-action@v2
        if: always()
        with:
          root_dir: ./
          files: ./coverage/cover.out
          name: typesense-coverage
          verbose: true

      - name: Archive code coverage results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: typesense-coverage-reports
          path: ./coverage

  provider:
    name: Provider Testing
    needs: setup
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        # Hard coded port because environment variables not currently
        # supported for use outside of 'steps'
        ports:
          -  6379:6379

      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_DB:  ${{ env.POSTGRES_DB }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}

    steps:
      - name: Download Working Compiled Directories
        uses: actions/download-artifact@v3
        with:
          name: compiled-workdir

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Make Coverage Directory
        working-directory: ./
        run: mkdir coverage

      - name: Testing
        working-directory: ./
        run: go test -v -coverpkg=./... -coverprofile coverage/cover.out ./provider/...

      - name: Convert Coverage Test Results
        if: always()
        working-directory: ./coverage
        run: go tool cover -html=cover.out -o cover.html

      - uses: codecov/codecov-action@v2
        if: always()
        with:
          root_dir: ./
          files: ./coverage/cover.out
          name: provider-coverage
          verbose: true

      - name: Archive code coverage results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: provider-coverage-reports
          path: ./coverage

  metadata:
    name: Metadata Testing (Excluding Typesense)
    needs: setup
    runs-on: ubuntu-latest

    steps:
      - name: Download Working Compiled Directories
        uses: actions/download-artifact@v3
        with:
          name: compiled-workdir

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      # Should be switched to a container, but the available etcd containers
      # haven't been running easily locally yet. Will create a custom one
      # in the future
      - name: Install ETCD
        run: |
          git clone -b v3.4.16 https://github.com/etcd-io/etcd.git
          cd etcd
          ./build
          export PATH="$PATH:`pwd`/bin"
          etcd --version
          etcd --logger=zap &

      - name: Make Coverage Directory
        working-directory: ./
        run: mkdir coverage

      - name: Testing
        working-directory: ./
        run: go test -v -coverpkg=.,./metadata/server/,./metadata/dashboard/,./metadata/client/ -coverprofile coverage/cover.out ./metadata/

      - name: Convert Coverage Test Results
        if: always()
        working-directory: ./coverage
        run: go tool cover -html=cover.out -o cover.html

      - uses: codecov/codecov-action@v2
        if: always()
        with:
          root_dir: ./
          files: ./coverage/cover.out
          name: metadata-coverage
          verbose: true

  metrics:
    name: Metrics Testing
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Download Working Compiled Directories
        uses: actions/download-artifact@v3
        with:
          name: compiled-workdir

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Make Coverage Directory
        working-directory: ./
        run: mkdir coverage

      - name: Testing
        working-directory: ./
        run: go test ./... -v -coverpkg=./... -coverprofile coverage/cover.out ./metrics/...

      - name: Convert Coverage Test Results
        if: always()
        working-directory: ./coverage
        run: go tool cover -html=cover.out -o cover.html

      - uses: codecov/codecov-action@v2
        if: always()
        with:
          root_dir: ./
          files: ./coverage/cover.out
          name: metrics-coverage
          verbose: true

      - name: Archive code coverage results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: metrics-coverage-reports
          path: ./coverage

  runner:
    name: Runner Testing
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Download Working Compiled Directories
        uses: actions/download-artifact@v3
        with:
          name: compiled-workdir

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Make Coverage Directory
        working-directory: ./
        run: mkdir coverage

      - name: Testing
        working-directory: ./
        run: go test ./... -v -coverpkg=./... -coverprofile coverage/cover.out ./runner/...

      - name: Convert Coverage Test Results
        if: always()
        working-directory: ./coverage
        run: go tool cover -html=cover.out -o cover.html

      - uses: codecov/codecov-action@v2
        if: always()
        with:
          root_dir: ./
          files: ./coverage/cover.out
          name: runner-coverage
          verbose: true

      - name: Archive code coverage results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: runner-coverage-reports
          path: ./coverage

  serving:
    name: Serving Testing
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Download Working Compiled Directories
        uses: actions/download-artifact@v3
        with:
          name: compiled-workdir

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Make Coverage Directory
        working-directory: ./
        run: mkdir coverage

      - name: Testing
        working-directory: ./
        run: go test ./... -v -coverpkg=./... -coverprofile coverage/cover.out ./newserving/...

      - name: Convert Coverage Test Results
        if: always()
        working-directory: ./coverage
        run: go tool cover -html=cover.out -o cover.html

      - uses: codecov/codecov-action@v2
        if: always()
        with:
          root_dir: ./
          files: ./coverage/cover.out
          name: newserving-coverage
          verbose: true

      - name: Archive code coverage results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: serving-coverage-reports
          path: ./coverage

